@charset "utf-8";


* {

	margin: 0;
}

html, body {
	height : 100%;
}


/*
	NAVIGATION DU MENU
*/

/* NAVIGATION DU MENU OUVERT */
.menu-ouvert {
    height: 100%; /*hauteur entiï¿½re */
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #61656E; /* Couleur de fond */
    overflow-x: hidden;
    padding-top: 7%;
    transition: 0.5s;
    list-style: none;
    border-radius: 2,5%;
}

/* lien du menu */
.menu-ouvert a {
    padding:3% 3% 3% 20%;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 120%;
    color: #FFF;
    display: block;
    transition: 0.3s
    z-index: 10;
}


/* lien du sous-menu */
.menu-ouvert li {
	list-style: none ;
}

.menu-ouvert li ul{
	display:none
}
.menu-ouvert li:hover ul{
	display:block
}

/* La couleur du lien quand la souris passe dessus (vert)*/
.menu-ouvert a:hover, .offcanvas a:focus{
    color: #7BD272;
}
/*
/* Le bouton x */
.menu-ouvert .bouton-croix {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 200%;
    margin-left: 50%;
}

/* Bouton-menu */
.bouton-menu {
    background-color: #dddbdb;
    border-radius : 10%;
    border-right: 3px #dddbdb solid;
    float : bottom;
    display : block;
    border-width: 5%;
    position: fixed;
    z-index: 1;
    margin-left: 2%;
    margin-top : 1%;
}

.menu img{
    display: block;
    color: #61656E;
    text-align: center;
    padding: 2% 2%;
    max-width: 10%;
    text-decoration: none;
    height : 16px;
}

.logo img{
	margin-top : 1%;
	margin-right : 2%;
	background-image: url(../images/hestia2.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	float: right;
	display : block;
	height: 100px;
	position: relative;
	z-index: 15;
}
