@charset "utf-8";

/* 
	les boutons 
*/
.bouton img {
    display: block;
    color: #fff;
    text-align: center;
    padding: 2% 2%;
    max-width: 10%;
    text-decoration: none;
    height : 16px;
    z-index : 4;
}

/* Bouton-info */
.bouton-info {
    background-color: #7BD272;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 8%; 
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 solid;
    margin-left: 2%

}

/* Bouton-temperature */
.bouton-temperature  {
    background-color: #FFF;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 16%; 
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 double;
    margin-left: 2%

}


.bouton-lumiere {
   background-color: #7BD272;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 24%; 
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 solid;
	margin-left: 2%

}


/*
	MAIN
*/

h1, p {
    font-family: 'Oswald', sans-serif;
    display: block;
    z-index: 5;
}

h1 {
   	font-size: 200%;
	color: #5A5E6B;
	display : block;
	margin-left: 45%;
}

.tout {
	margin-left : 5%;
	height: 100%;
}

h3 {
	font-size : 100%;
	font-family: 'Oswald', sans-serif;
	color: #5A5E6B;
}
/*
	BOUTON DROITE
*/

.bouton-tout {
	border: 2px solid #7BD272;
	cursor : pointer;
    background-color : #FFF;
	display: block;
	padding : 2%;
	text-align:center;
	width: 20px;
	height : 20px;
	border-radius : 50%;
	float:left;
}

.bouton-tout:disabled {
	background-color: #7BD272;
	width: 5px;
	height : 5px;
}


.tout-allumer-disclosure {
  display: none;
  margin: 10px 0 0 35px;
  position:relative;
  z-index:0;
}

#tout-allumer:disabled~ .tout-allumer-disclosure {
  display: block;
}

#texte-degre {
	margin-right: 20%;
}

#texte-tout {
	margin-left:10%;
}

/*
	CHANGER TEMP
*/

/* necessary to give position: relative to parent. */
input[type="number"]{
	color: #333; 
	width: 50%;
	height:20%;
	box-sizing: border-box; 
	float:left;
	
}

:focus{
	outline: none;
}

.effect-20{border: 1px solid #ccc; padding: 7px 14px; transition: 0.4s; background: transparent;}

.effect-20 ~ .focus-border:before, .effect-20 ~ .focus-border:after{
	content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #7BD272; transition: 0.3s;
}
.effect-20 ~ .focus-border:after{
	top:auto; bottom: auto; left: 0; right: 0;
}
.effect-20 ~ .focus-border i:before, .effect-20 ~ .focus-border i:after{
	content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #7BD272; transition: 0.4s;
}
.effect-20 ~ .focus-border i:after{
	left: auto; right: auto; top: 0; bottom: 0;
}
.effect-20:focus ~ .focus-border:before, .effect-20:focus ~ .focus-border:after, .has-content.effect-20 ~ .focus-border:before, .has-content.effect-20 ~ .focus-border:after{
		width: 50%; transition: 0.3s;
	}
.effect-20:focus ~ .focus-border i:before, .effect-20:focus ~ .focus-border i:after, .has-content.effect-20 ~ .focus-border i:before, .has-content.effect-20 ~ .focus-border i:after{
	height: 30%; transition: 0.4s;
}


.effect-20 ~ label{
	position: absolute; left: 14px; width: 50%; top: 4px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; font-size: 12px;	font-family: 'Oswald', sans-serif;
}
.effect-20:focus ~ label, .has-content.effect-20 ~ label{
	top: -18px; left: 0; font-size: 12px; color: #7BD272; 	font-family: 'Oswald', sans-serif; transition: 0.3s;
}


.btn {
  font-size: 80%;
  padding: 5px;
  color: #7BD272;
  border: 2px solid #7BD272;
  border-radius: 20px/50px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-out;
  
}

.btn:hover {
  background-color: #7BD272;
  color: #FFF;
}


/*
	FOOTER
*/

#footer {
	display: flex;
    bottom: 0;
	width:100%;
	height:50px;
}


h4 {
	font-size : 150%;
	font-family: 'Oswald', sans-serif;
}


#footer_gauche {
   width:45%; 
   float:left;
   text-align: center;

}


#footer_droit {
   width:45%; 
   float:right;
   text-align:center;
}
