@charset "utf-8";

/*
	les boutons
*/
.bouton img {
    display: block;
    color: #fff;
    text-align: center;
    padding: 2% 2%;
    max-width: 10%;
    text-decoration: none;
    height : 16px;
    z-index : 4;
}

/* Bouton-info */
.bouton-info {
    background-color: #7BD272;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 8%;
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 solid;
    margin-left: 2%

}

/* Bouton-temperature */
.bouton-temperature  {
    background-color: #FFF;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 16%;
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 double;
    margin-left: 2%

}


.bouton-lumiere {
   background-color: #7BD272;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 24%;
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 solid;
	margin-left: 2%

}


/*
	MAIN
*/

.titre{
  padding:0.5%;
  border-bottom:solid;
  border-bottom-color: #BDBDBD;
  margin-bottom:1%;
}

.titre h1{
  font-size:300%;
}

h1, p {
    font-family: 'Oswald', sans-serif;
    display: block;
    z-index: 5;
}

h1 {
   	font-size: 200%;
	color: #5A5E6B;
	display : block;
	margin-left: 45%;
}


h3 {
	font-size : 100%;
	font-family: 'Oswald', sans-serif;
	color: #5A5E6B;
}


/*
	FOOTER
*/

#footer {
	display: flex;
  margin-bottom: 0;
  font-size: 250%;
	width:100%;
	height:50px;
  text-align:center;
}


h4 {
	font-size : 100%;
	font-family: 'Oswald', sans-serif;
}


#footer_gauche {
   width:45%;
   margin-left:27%;
   text-align: center;

}


#footer_droit {
   width:42.5%;
   text-align:center;
}
