
/* les boutons */
.bouton img {
    display: block;
    color: #fff;
    text-align: center;
    padding: 2% 2%;
    max-width: 10%;
    text-decoration: none;
    height : 16px;
    z-index : 4;
}

/* Bouton-info */
.bouton-info {
    background-color: #FFF;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 8%;
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 double;
    margin-left: 2%

}

/* Bouton-temperature */
.bouton-temperature  {
    background-color: #7BD272;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 16%;
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 solid;
    margin-left: 2%

}


.bouton-lumiere {
   background-color: #7BD272;
    border-radius: 50%;
    float : bottom;
    display : block;
    margin-top : 24%;
    position: fixed;
    z-index: 3;
    border: 3px #7BD272 solid;
	margin-left: 2%

}

/*
	MAIN
*/

html, h1, p {
    font-family: 'Oswald', sans-serif;
    display: block;
    color :#455A64;
    z-index: 5;
}

.titre{
  padding-top:0.5%;
  border-bottom:solid;
  border-bottom-color: #BDBDBD;
}

.titre h1{
  font-size:300%;

	margin-left: 45%;
}

h1 {
   	font-size: 200%;
	color: #5A5E6B;
	display : block;
}

#main {

		margin-top: 0;
		width:100%;

}

.global{
	position: relative;
  display : block;
  margin: 0 10%;
  height:750px;

}
.BlockScoreAppareil{
    float: left;
    width: 30%;
    height: 100%;
}
.Scores{
    text-align: center;
    width: auto;
    height: 49%;
    margin:1%;
    background-color: rgba(221,219,219, 0.3);
    border-radius : 2%;

}
.BlockScore{
    width: 100%;
    height: 20%;
}
.textScore{
    font-size: 300%;
    width: 50%;
    height:100%;
    vertical-align: center;
    float: left;
    color:#455A64;
    border-bottom: solid #BDBDBD 1px;
    margin-bottom: 5px;
}
.score{
    font-size: 350%;
    float: right;
    vertical-align: center;
    width: 50%;
    height:100%;
    padding-bottom: 0%;
    border-bottom: solid #BDBDBD 1px;
    margin-bottom: 5px;
}

.scoreBarBlock{
  text-align: center;
  width: auto;
  height: 49%;
  margin:1%;
  border-radius : 2%;
}
.CursorCon{
    text-align: center;
    width:100%;
    height:50%;
    padding:0px;
}

.scoreBarText{
  height:30%;
  font-size:200%;
  width:auto;
  margin:0 3% 0 3%;
}

.scoreBar{
  height:70%;
  width:auto;
  margin:0 3% 0 3%;
}


.listS{
    list-style: none;
}


.appareils{
    text-align: center;
    width: auto;
    height: 49%;
    margin:1%;
    background-color: #CFD8DC;
    border-radius : 2%;
}

.textAppareil{
   font-size: 300%;
   width: 100%;
   height:20%;
   vertical-align: center;
   color:#455A64;
   border-bottom: solid #BDBDBD 1px;
   margin-bottom: 5px;
}

.graphScores{
  width: 100%;
  height:80%;
}

#curve_chart2{
  position : relative;
  left : 0.75%;
}



/*TABS*/





.graphsCourbes{
    float: right;
	  width:70%;
  	height:100%;

}





/* .courbeTemp{
    width: 80%;
    height: 150px;
    font-size: 100%;
    color: .EFEFEF;
    float: left;
    padding: 5px;


} */
.chart_div_conso {
    width:99%;
    height: 49%;
    font-size: 100%;
    margin:0.5%;
    margin-bottom:0.25%;

}


.piechart{
    width:49.25%;
    height: 49%;
    margin:0.5%;
    margin-top:0.25%;
    margin-right:0.25%;
    font-size: 100%;
    float:left;
}

.Price{
    vertical-align: center;
    width:49.25%;
    height: 49%;
    margin:0.5%;
    margin-top:0.25%;
    margin-left:0.25%;
    float:right;
    text-align: center;
}

.Price p{
  font-family: 'Oswald', sans-serif;
  display: block;
  font-size: 600%;
  z-index: 5;
  color: #757575;
  text-align: center;
}

.Price h2{
  font-family: 'Oswald', sans-serif;
  display: block;
  font-size: 150%;
  z-index: 5;
  color:  #BDBDBD;
  text-align: center;
}

.refresh{
  display: block;
  padding-top: 1%;
  padding-left: 95%;
  width:16px;
  height:16px;
}

.refresh img{
  display: block;
  max-width:20px;
  max-height:20px;
}

/* ScoreBar*/

input[type=range] {
    -webkit-appearance: none;
    border: 0px solid white;
    width: 75%;
}
input[type=range]::-webkit-slider-runnable-track {

    height: 0px;
    border: none;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 23px;
    width: 23px;
    border-radius: 100%;
    background: #FFF;
    position:relative;
    bottom:93px;
	z-index:100;
}
input[type=range]:focus {
    outline: none;
}



 .threshold-rouge {
	background-color: #FF4848;
	position: relative;
	width: 25%;
	bottom:0px;
	height: 25px;
	z-index: 5;
	left: 12.5%;
}
.threshold-orange {
	background-color: #F4A460;
	width: 25%;
	bottom:25px;
	height: 25px;
	z-index: 5;
	left: 37.5%;
	position: relative;
}

  .threshold-vert {
	background-color: #7BD272;
	position: relative;
	bottom: 50px;
	width: 25%;
	height: 25px;
	z-index: 5;
	left: 62.5%;
}
